.phones {
    list-style: none;
}
.thumb {
    float: left;
    margin: -0.5em 1em 1.5em 0;
    padding-bottom: 1em;
    height: 100px;
    width: 100px;
}

.phones__btn-buy-wrapper {
    align-items: center;
    float: right;
    height: 100%;
    display: flex;
    margin: 0 1em;
}

.phones li {
    clear: both;
    height: 115px;
    padding-top: 15px;
}