<div class="row">
  <!--Sidebar-->
  <div class="col-md-2">
    <section class="filter"></section>
    <section class="cart"></section>
  </div>

  <!--Main content-->
  <div class="col-md-10">
    <div class="phones-catalog"></div>
    <div class="phones-details"></div>
  </div>
</div>